################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/src/.vs/MoveToStash/v14
/src/MoveToStash/obj/Debug
*.pdb
*.ini
