################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/src/.vs/MoveToStash/v14
/src/MoveToStash/obj/Debug
*.pdb
*.ini
/ErrorLog.txt
/src/MoveToStash/.vs/MoveToStash/v14/.suo

/src/packages/Newtonsoft.Json.10.0.2
/Newtonsoft.Json.xml
/Newtonsoft.Json.dll
